html {
  font-size: 62.5%;
}

body {
  background-color: #f9f8f6;
}

@media (max-width: 550px) {
  header .container .row .logo {
    padding-top: 20px;
    text-align: center;
  }
  header .container .row .logo h1 {
    margin-bottom: 1rem;
  }
  header .container .row .navi .pc_navi {
    display: none;
  }
  header .container .row .navi .sp_navi {
    text-align: center;
  }
  header .container .row .navi .sp_navi ul li:first-child {
    margin-left: 0;
  }
  header .container .row .navi .sp_navi li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
  }
  header .container .row .navi .sp_navi li .menu {
    cursor: pointer;
  }
  header .container .row .navi .sp_menu {
    display: none;
    z-index: 1;
  }
  header .container .row .navi .sp_menu li {
    list-style: none;
  }
  header .container .row .navi .sp_menu li a {
    text-decoration: none;
  }
}
@media (min-width: 551px) {
  header .container .row .logo {
    padding-top: 30px;
  }
  header .container .row .navi {
    float: right;
  }
  header .container .row .navi .pc_navi {
    text-align: right;
    padding-top: 55px;
    padding-bottom: 0;
  }
  header .container .row .navi .pc_navi .pc_navi_li li {
    list-style: none;
    display: inline-block;
  }
  header .container .row .navi .pc_navi .pc_navi_li li:nth-of-type(n+2) {
    margin-left: 1.5rem;
  }
  header .container .row .navi .sp_navi {
    display: none;
  }
  header .container .row .navi .sp_menu {
    display: none;
  }
  header .container .row .navi .sp_menu li {
    list-style: none;
  }
  header .container .row .navi .sp_menu li a {
    text-decoration: none;
  }
}

#contents .container .row {
  border-bottom: 1px solid #887f69;
}
#contents .container .row #main .u-max-full-width {
  width: 100%;
}
@media (min-width: 551px) {
  #contents .container .row #main .sub_title {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 0;
  }
  #contents .container .row #main .sub_title:nth-of-type(n+2) {
    margin-top: 30px;
  }
  #contents .container .row #main .sp_sub_title {
    display: none;
  }
  #contents .container .row #main .bread {
    background-color: #e2ddd4;
    color: #887f69;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  #contents .container .row #main .bread .square {
    padding: 10px;
  }
  #contents .container .row #main .bread p {
    display: inline-block;
    margin-bottom: 0;
    font-size: 1.0em;
    margin-left: 5px;
  }
  #contents .container .row #main .sp_category {
    display: none;
  }
  #contents .container .row #main .product_area {
    background-color: #fff;
    padding: 30px 50px;
    margin-bottom: 30px;
  }
  #contents .container .row #main .product_area .products_name p {
    display: inline-block;
  }
  #contents .container .row #main .product_area .products_name .name {
    font-size: 1.2em;
    font-weight: bold;
  }
  #contents .container .row #main .product_area .products_name .tag {
    float: right;
  }
  #contents .container .row #main .product_area .products {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #e2ddd4;
    border-bottom: 1px solid #e2ddd4;
  }
  #contents .container .row #main .product_area .products .main_image {
    flex: 5 5 40px;
  }
  #contents .container .row #main .product_area .products .main_image img {
    width: 100%;
  }
  #contents .container .row #main .product_area .products .product_lists {
    flex: 2 2 10px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #contents .container .row #main .product_area .products .product_lists li {
    width: calc( 50% - 5px );
    list-style: none;
    margin-bottom: 0;
    line-height: 0;
  }
  #contents .container .row #main .product_area .products .product_lists li:nth-child(n+3) {
    margin-top: 10px;
  }
  #contents .container .row #main .product_area .products .product_lists li .product {
    width: 100%;
  }
  #contents .container .row #main .product_area .color_size_title {
    margin-top: 2.5rem;
    font-weight: bold;
    color: #887f69;
  }
  #contents .container .row #main .product_area .color_size {
    border: 1px solid #e2ddd4;
    width: 100%;
  }
  #contents .container .row #main .product_area .color_size thead {
    background-color: #f9f8f6;
  }
  #contents .container .row #main .product_area .color_size thead th {
    border: 1px solid #e2ddd4;
    text-align: center;
    font-weight: normal;
    color: #887f69;
  }
  #contents .container .row #main .product_area .color_size tbody th {
    background-color: #f9f8f6;
    text-align: center;
    font-weight: normal;
    color: #887f69;
  }
  #contents .container .row #main .product_area .color_size tbody td {
    border: 1px solid #e2ddd4;
    text-align: center;
    font-weight: normal;
    color: #887f69;
  }
  #contents .container .row #main .product_area .purchase {
    position: relative;
    border-bottom: 1px solid #e2ddd4;
  }
  #contents .container .row #main .product_area .purchase .details {
    display: inline-block;
    width: 36.5rem;
  }
  #contents .container .row #main .product_area .purchase .details .price {
    display: inline-block;
    width: 36.5rem;
    height: 70px;
    border-top: 1px solid #e2ddd4;
  }
  #contents .container .row #main .product_area .purchase .details .price .title {
    display: inline-block;
    width: 100px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #887f69;
    margin-top: 25px;
  }
  #contents .container .row #main .product_area .purchase .details .price .amount_of_money {
    font-size: 1.6rem;
    color: #f09;
    display: inline-block;
    width: 200px;
    font-style: oblique;
    margin-left: 20px;
  }
  #contents .container .row #main .product_area .purchase .details .price .amount_of_money span {
    font-size: 2.6rem;
  }
  #contents .container .row #main .product_area .purchase .details .price .amount_of_money p {
    color: #000;
    display: inline-block;
    font-weight: bold;
  }
  #contents .container .row #main .product_area .purchase .details .quantity {
    display: inline-block;
    width: 36.5rem;
    height: 70px;
    border-top: 1px solid #e2ddd4;
  }
  #contents .container .row #main .product_area .purchase .details .quantity .title {
    display: inline-block;
    width: 100px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #887f69;
    margin-top: 25px;
  }
  #contents .container .row #main .product_area .purchase .details .quantity .number {
    display: inline-block;
    margin-left: 20px;
  }
  #contents .container .row #main .product_area .purchase .details .quantity .number input {
    width: 160px;
    border-radius: 0;
  }
  #contents .container .row #main .product_area .purchase .add_to {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin-left: 20px;
  }
  #contents .container .row #main .product_area .product_description {
    margin-top: 30px;
    border-bottom: 1px solid #887f69;
  }
  #contents .container .row #main .product_area .product_description p {
    margin-bottom: 5px;
    font-weight: bold;
    color: #887f69;
  }
  #contents .container .row #main .product_area .title_description h2 {
    font-size: 1.0em;
    margin-top: 2rem;
    color: #887f69;
    font-weight: bold;
  }
  #contents .container .row #main .product_area .title_description p {
    margin-bottom: 0;
    font-size: 0.9em;
  }
  #contents .container .row #main .product_area .title_description p:nth-of-type(n+3) {
    margin-bottom: 15px;
  }
  #contents .container .row #main .product_area .table_description {
    width: 100%;
  }
  #contents .container .row #main .product_area .table_description th, #contents .container .row #main .product_area .table_description td {
    border: 1px solid #e2ddd4;
  }
  #contents .container .row #main .product_area .table_description tbody th {
    background-color: #f9f8f6;
    text-align: center;
    font-weight: normal;
    color: #887f69;
    width: 150px;
    font-size: 1.2rem;
  }
  #contents .container .row #main .product_area .table_description tbody td {
    border: 1px solid #e2ddd4;
    text-align: center;
    font-weight: normal;
    color: #887f69;
    font-size: 1.2rem;
  }
  #contents .container .row #main .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #contents .container .row #main .items .item {
    box-sizing: border-box;
    width: calc( ( 100% - 4px ) / 3 );
    background-color: #fff;
    padding: 10px;
  }
  #contents .container .row #main .items .item:nth-child(n+4) {
    margin-top: 2px;
  }
  #contents .container .row #main .beforeafter {
    height: 100px;
    margin-top: 20px;
  }
  #contents .container .row #main .beforeafter .btn {
    background-color: #887f69;
    color: #fff;
    font-weight: bold;
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  #contents .container .row #main .beforeafter .left {
    float: left;
  }
  #contents .container .row #main .beforeafter .right {
    float: right;
  }
  #contents .container .row #main .sp_recent {
    display: none;
  }
  #contents .container .row #main .guide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  #contents .container .row #main .guide .delivery, #contents .container .row #main .guide .settlement {
    box-sizing: border-box;
    width: calc( ( 100% - 2px ) / 2 );
    background-color: #fff;
    padding: 10px;
  }
  #contents .container .row #main .guide .delivery img, #contents .container .row #main .guide .settlement img {
    margin-bottom: 10px;
  }
  #contents .container .row #main .guide .delivery h3, #contents .container .row #main .guide .settlement h3 {
    font-size: 1.2em;
    color: #887f69;
  }
  #contents .container .row #main .guide .delivery h4, #contents .container .row #main .guide .settlement h4 {
    font-size: 1em;
    color: #887f69;
  }
}
@media (max-width: 550px) {
  #contents .container .row #main .sub_title {
    display: none;
  }
  #contents .container .row #main .sp_sub_title {
    text-align: center;
    margin-bottom: 10px;
  }
  #contents .container .row #main .sp_sub_title:nth-child(n+1) {
    margin-top: 10px;
  }
  #contents .container .row #main .sp_sub_title img {
    width: 40%;
  }
  #contents .container .row #main .sp_sub_title #popular {
    width: 50%;
  }
  #contents .container .row #main .sp_sub_title #guide {
    width: 55%;
  }
  #contents .container .row #main .bread {
    background-color: #e2ddd4;
    color: #887f69;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  #contents .container .row #main .bread .square {
    padding: 10px;
  }
  #contents .container .row #main .bread p {
    display: inline-block;
    margin-bottom: 0;
    font-size: 1.0em;
    margin-left: 5px;
  }
  #contents .container .row #main .pc_category {
    display: none;
  }
  #contents .container .row #main .product_area {
    background-color: #fff;
    padding: 5px;
  }
  #contents .container .row #main .product_area .name {
    padding-top: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.9rem;
  }
  #contents .container .row #main .product_area .tag {
    color: #d4d9df;
  }
  #contents .container .row #main .product_area .products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #e2ddd4;
    padding-bottom: 20px;
  }
  #contents .container .row #main .product_area .products .main_image {
    width: 100%;
    line-height: 0;
    padding-top: 15px;
    border-top: 1px solid #887f69;
  }
  #contents .container .row #main .product_area .products .main_image img {
    width: 100%;
  }
  #contents .container .row #main .product_area .products .product_lists {
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #contents .container .row #main .product_area .products .product_lists li {
    width: calc( ( 100% - 20px ) / 5 );
    list-style: none;
    margin-bottom: 0;
    line-height: 0;
    margin-top: 5px;
  }
  #contents .container .row #main .product_area .products .product_lists li .product {
    width: 100%;
  }
  #contents .container .row #main .product_area .color_size_title {
    font-size: 1.5em;
    font-weight: bold;
    color: #887f69;
    margin-top: 20px;
  }
  #contents .container .row #main .product_area .color_size {
    width: 100%;
    border-bottom: 1px solid #887f69;
  }
  #contents .container .row #main .product_area .color_size th, #contents .container .row #main .product_area .color_size td {
    border: 1px solid #887f69;
    text-align: center;
    font-weight: normal;
    color: #887f69;
    border-bottom: 0;
  }
  #contents .container .row #main .product_area .color_size th {
    background-color: #e2ddd4;
  }
  #contents .container .row #main .product_area .purchase {
    position: relative;
  }
  #contents .container .row #main .product_area .purchase .details {
    display: inline-block;
    width: 27rem;
    box-sizing: border-box;
  }
  #contents .container .row #main .product_area .purchase .details .price {
    display: inline-block;
    width: 27rem;
    height: 70px;
    border-top: 1px solid #e2ddd4;
    box-sizing: border-box;
  }
  #contents .container .row #main .product_area .purchase .details .price .title {
    display: inline-block;
    width: 100px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #887f69;
    margin-top: 25px;
  }
  #contents .container .row #main .product_area .purchase .details .price .amount_of_money {
    font-size: 1.6rem;
    color: #f09;
    display: inline-block;
    width: 150px;
    font-style: oblique;
  }
  #contents .container .row #main .product_area .purchase .details .price .amount_of_money span {
    font-size: 2.6rem;
  }
  #contents .container .row #main .product_area .purchase .details .price .amount_of_money p {
    color: #000;
    display: inline-block;
    font-weight: bold;
  }
  #contents .container .row #main .product_area .purchase .details .quantity {
    display: inline-block;
    width: 27rem;
    height: 70px;
    border-top: 1px solid #e2ddd4;
    border-bottom: 1px solid #e2ddd4;
  }
  #contents .container .row #main .product_area .purchase .details .quantity .title {
    display: inline-block;
    width: 100px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #887f69;
    margin-top: 25px;
  }
  #contents .container .row #main .product_area .purchase .details .quantity .number {
    display: inline-block;
  }
  #contents .container .row #main .product_area .purchase .details .quantity .number input {
    width: 140px;
    border-radius: 0;
  }
  #contents .container .row #main .product_area .purchase .add_to {
    text-align: center;
    margin-top: 20px;
  }
  #contents .container .row #main .product_area .product_description {
    border-bottom: 1px solid #887f69;
  }
  #contents .container .row #main .product_area .product_description p {
    margin-top: 2.5rem;
    font-weight: bold;
    color: #887f69;
    font-size: 1.6em;
  }
  #contents .container .row #main .product_area .title_description h2 {
    font-size: 2.0rem;
    font-weight: bold;
    color: #887f69;
    margin-top: 2rem;
  }
  #contents .container .row #main .product_area .title_description p {
    margin-bottom: 0;
  }
  #contents .container .row #main .product_area .title_description p:nth-of-type(n+3) {
    margin-bottom: 15px;
  }
  #contents .container .row #main .product_area .table_description {
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: 20px;
  }
  #contents .container .row #main .product_area .table_description th, #contents .container .row #main .product_area .table_description td {
    border: 1px solid #e2ddd4;
  }
  #contents .container .row #main .product_area .table_description tbody th {
    background-color: #f9f8f6;
    text-align: center;
    font-weight: normal;
    color: #887f69;
    width: 80px;
    font-size: 1.2rem;
  }
  #contents .container .row #main .product_area .table_description tbody td {
    border: 1px solid #e2ddd4;
    text-align: center;
    font-weight: normal;
    color: #887f69;
    font-size: 1.2rem;
    padding-right: 15px;
  }
  #contents .container .row #main .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #contents .container .row #main .items .item {
    box-sizing: border-box;
    width: calc( ( 100% - 2px ) / 2 );
    background-color: #fff;
    padding: 10px;
  }
  #contents .container .row #main .items .item:nth-child(n+3) {
    margin-top: 2px;
  }
  #contents .container .row #main .beforeafter {
    height: 100px;
    margin-top: 20px;
  }
  #contents .container .row #main .beforeafter .btn {
    background-color: #887f69;
    color: #fff;
    font-weight: bold;
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  #contents .container .row #main .beforeafter .left {
    float: left;
  }
  #contents .container .row #main .beforeafter .right {
    float: right;
  }
  #contents .container .row #main .pc_recent {
    display: none;
  }
  #contents .container .row #main .guide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  #contents .container .row #main .guide .delivery, #contents .container .row #main .guide .settlement {
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    padding: 10px;
  }
  #contents .container .row #main .guide .delivery:nth-child(n+1), #contents .container .row #main .guide .settlement:nth-child(n+1) {
    margin-top: 5px;
  }
  #contents .container .row #main .guide .delivery img, #contents .container .row #main .guide .settlement img {
    margin-bottom: 10px;
  }
  #contents .container .row #main .guide .delivery .cards, #contents .container .row #main .guide .settlement .cards {
    width: 100%;
  }
  #contents .container .row #main .guide .delivery h3, #contents .container .row #main .guide .settlement h3 {
    font-size: 1.2em;
    color: #887f69;
  }
  #contents .container .row #main .guide .delivery h4, #contents .container .row #main .guide .settlement h4 {
    font-size: 1em;
    color: #887f69;
  }
}
@media (min-width: 551px) {
  #contents .container .row #sidebar .pc_sidemenu .search {
    background-color: #fff;
    margin-bottom: 15px;
  }
  #contents .container .row #sidebar .pc_sidemenu .search .search_in {
    padding: 15px;
  }
  #contents .container .row #sidebar .pc_sidemenu .search .search_in input {
    background-image: url("../images/top/search_icon.png");
    background-repeat: no-repeat;
    background-position: 95%;
    background-color: #f9f8f6;
    border-radius: 0;
    border: none;
  }
  #contents .container .row #sidebar .pc_sidemenu .sp_search {
    display: none;
  }
}
@media (max-width: 550px) {
  #contents .container .row #sidebar .pc_sidemenu .search {
    display: none;
  }
  #contents .container .row #sidebar .pc_sidemenu .sp_search {
    background-color: #fff;
    margin-bottom: 15px;
  }
  #contents .container .row #sidebar .pc_sidemenu .sp_search .search_in {
    padding: 15px;
  }
  #contents .container .row #sidebar .pc_sidemenu .sp_search .search_in input {
    background-image: url("../images/top/search_icon.png");
    background-repeat: no-repeat;
    background-position: 95%;
    background-color: #f9f8f6;
    border-radius: 0;
    border: none;
  }
}
#contents .container .row #sidebar .pc_sidemenu .page_link {
  background-color: #887f69;
  margin-bottom: 10px;
  height: 45px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
}
#contents .container .row #sidebar .pc_sidemenu .page_link .next_icon {
  position: absolute;
  top: 15px;
  right: 10px;
}
#contents .container .row #sidebar .pc_sidemenu .categories .category {
  background-color: #887f69;
  height: 45px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
}
#contents .container .row #sidebar .pc_sidemenu .categories .category .down_icon {
  position: absolute;
  top: 18px;
  right: 10px;
}
#contents .container .row #sidebar .pc_sidemenu .categories li {
  list-style: none;
  background-color: #fff;
  height: 45px;
  margin-bottom: 2px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
}
#contents .container .row #sidebar .pc_sidemenu .categories li .next_icon {
  position: absolute;
  top: 15px;
  right: 10px;
}
#contents .container .row #sidebar .pc_sidemenu .about {
  background-color: #887f69;
  height: 45px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 10px;
}
#contents .container .row #sidebar .pc_sidemenu .u-max-full-width {
  width: 100%;
}
#contents .container .row #sidebar .pc_sidemenu .shop_info {
  background-color: #887f69;
  height: 45px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 10px;
}
@media (min-width: 551px) {
  #contents .container .row #sidebar .pc_sidemenu .about_text {
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
  }
  #contents .container .row #sidebar .pc_sidemenu .about_text .more_btn {
    text-align: center;
  }
  #contents .container .row #sidebar .pc_sidemenu .shop_info_text {
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
  }
  #contents .container .row #sidebar .pc_sidemenu .shop_info_text .more_btn {
    text-align: center;
  }
}
@media (max-width: 550px) {
  #contents .container .row #sidebar .pc_sidemenu .about_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
  }
  #contents .container .row #sidebar .pc_sidemenu .about_text .description {
    box-sizing: border-box;
    width: calc( ( 100% ) / 2 );
    background-color: #fff;
  }
  #contents .container .row #sidebar .pc_sidemenu .about_text .description:nth-child(n+2) {
    padding-left: 10px;
  }
  #contents .container .row #sidebar .pc_sidemenu .about_text .description p {
    margin-bottom: 0;
    font-size: 0.85em;
  }
  #contents .container .row #sidebar .pc_sidemenu .shop_info_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
  }
  #contents .container .row #sidebar .pc_sidemenu .shop_info_text .description {
    box-sizing: border-box;
    width: calc( ( 100% ) / 2 );
    background-color: #fff;
  }
  #contents .container .row #sidebar .pc_sidemenu .shop_info_text .description:nth-child(n+2) {
    padding-left: 10px;
  }
  #contents .container .row #sidebar .pc_sidemenu .shop_info_text .description p {
    margin-bottom: 0;
    font-size: 0.85em;
  }
}
@media (min-width: 551px) {
  #contents .container .row .pagetop {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
@media (max-width: 550px) {
  #contents .container .row .sp_pagetop {
    text-align: center;
  }
  #contents .container .row .sp_pagetop img {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (min-width: 551px) {
  footer {
    text-align: center;
    margin-top: 50px;
  }
  footer ul {
    height: 50px;
    margin-bottom: 0;
  }
  footer ul li:first-child {
    margin-left: 0;
  }
  footer li {
    display: inline-block;
    height: 50px;
    margin-bottom: 0;
    margin-left: 35px;
  }
  footer .copy {
    color: #e2ddd4;
    height: 50px;
    margin-bottom: 100px;
  }
}
@media (max-width: 550px) {
  footer {
    margin-bottom: 100px;
  }
  footer ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  footer ul li:first-child {
    margin-left: 0;
  }
  footer ul li {
    list-style: none;
    font-size: 0.8em;
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 0;
  }
  footer ul li:nth-child(n+3) {
    margin-left: 0;
  }
  footer .copy {
    color: #e2ddd4;
    font-size: 0.8em;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
